<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    .wrap{
        display: flex;
    }

    </style>
</head>
<body>
<form action="/login" method="post" class="wrap" >
   <input type="text" name="firstName" placeholder="Fist Name">
   <input type="text" name="lastName" placeholder="Last Name">
   <input type="email" name="email" placeholder="Password">
   <input type="password" name="password" placeholder="Password">
   <input type="number" name="age" placeholder="age">
    <input type="text" name="city" placeholder="City">
    <input type="submit" value="Save"></form>
</form>
</body>
</html>