<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .title {
            text-align: center;
            margin-bottom: 30px;
            cursor: default;
        }
        .input {
            width: 100%;
            height: 37px;
            margin: 4px 0;
            border-radius: 7px;
            padding: 3px 12px;
        }
    </style>
    <title>Document</title>
</head>
<body>
<form class="form" action="/signIn" method="post">
    <h1 class="title">Sign in</h1>
    <input class="input" type="email" name="email" placeholder="email">
    <input class="input" type="password" name="password" placeholder="password">
    <input class="input btn" type="submit" value="submit">
</form>
</body>
</html>